.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    width: 100%; /* use this, or not */
    max-height: 400px  !important;
    margin: auto;
}

.main-header .logo > .image{
    line-height: 0px;
}